body {
    background: linear-gradient(to bottom, #009688 20%, #d9dbd5 80%);

}
.bg-grey {
    background-color: #d9dbd5;
}

#left .fa-solid {
    font-size: 20px;
}
.fa-bell-slash {
    font-size: 40px;
    border-radius: 50%;
    color:#8edafc;
    background-color: white;
    padding:10px;
}
.bg-Bell {
    background-color: #8edafc;
}
.cWhite {
    color: white;
}
.Bold {
    font-weight: 600;
}
img {
    width: 70px;
    border-radius: 25px;
    object-fit: contain;
}
.borderRight {
    border-right: 1px solid gray;
}
.borderBottom {
    border-bottom: 1px solid lightgray;
}
#chatDetails .fa-solid {
    font-size: 20px;
}
#chatBody {
    background-image: url("/img/mine.jpg");
    background-size: cover;
}
.h85 {
    height: 87.1%;
}
.h5 {
    height: 5%;
}
.bg-dirtyWhite {
    background-color: #f3eeea;
}
.bg-Green {
    background-color: #d5f9ba;
}
.borderRadius {
    border-radius: 25px;
}
.maxWidth {
    max-width: 95%;
} 